html {
	font-size: 16px;
	height: 100vh;
}

*, ::before, ::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	background-color: #f1e1ff;
	color: #241f31;
	font-family: sans-serif;
}

a, .card .legend .word, .card-item .item-title .asterisk {
	color: #9141ac;
}

.content {
	width: auto;
	max-width: 100%;
	margin: auto;
	margin-top: 0;
	padding: 2rem;
	max-height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.entry-label {
    font-size: 0;
    position: relative;
    width: 100%;
}


#entry {
	background-color: #fff;
	color: #000;
	margin-bottom: 1rem;
	width: 100%;
	height: 2.25rem;
	border: 1px solid #deddda;
	border-radius: 0.25rem;
	padding: 1rem;
	padding-left: 2rem;
	font-size: 20px;
}

@media (min-width: 468px) {
	#entry {
		width: 24rem;
	}
	.card {
		width: 26rem;
	}
	.content {
		width: auto;
		max-width: 100%;
	}
}

#entry:focus {
	border: 1px solid #c061cb;
	outline: none;
}

.entry-label {
	font-size: 0;
	position: relative;
	width: 100%;
}

.entry-label:before {
	content: "";
	width: 1rem;
	height: 1rem;
	background: url('/assets/images/spinner.svg') no-repeat;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	display: block;
	position: absolute;
	left: calc(0.5rem + 1px);
	top: calc(0.625rem + 1px);
}

@-webkit-keyframes spin {
	0% { -webkit-transform:rotate(0deg) }
	to { -webkit-transform:rotate(1turn) }
}

@keyframes spin {
	0% { transform:rotate(0deg) }
	to { transform:rotate(1turn) }
}

.entry-label.search:before {
	background: url('toki-sama.png') no-repeat;
	background-size: 100%;
	animation: none;
}

.entry-label.loaded:before {
	background: url('/assets/images/search.svg') no-repeat;
	animation: none;
}

#results, #suggestions, .row {
	width: 100%;
}

#results, #suggestions, .row {
    width: 100%;
}

.card {
    padding: 0.5rem 1rem;
    margin: 0;
        margin-bottom: 0px;
    border: 1px solid #deddda;
    border-radius: 0.75rem;
    margin-bottom: 2rem;
    background-color: #fff;
}

.card-item {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
}

.card-item .item-english {
	font-weight: 500;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(100% - 48px - 1rem);
	white-space: nowrap;
}

.card-item .item-toki-pona {
	height: 20px;
	cursor: pointer;
}

.generated {
	color: #186b92;
}

.nima-pu {
	color: #241f31;
}


.compounds {
	color: #861313;
}

.input-container {
	display: flex;
	flex-direction: column;
}